<mat-tab-group>
    <mat-tab label="Boats">
        <mat-grid-list cols="3" rowHeight="3:2">
            <mat-grid-tile *ngFor="let boat of boats">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <span style="display: flex; align-items: center; gap: 8px;">
                                <mat-icon>sailing</mat-icon> {{boat.name}}
                            </span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <span style="display: flex; align-items: center; gap: 8px;">
                            <mat-icon>location_on</mat-icon>
                            <p>In harbor:</p> {{boat.inHarbor == true ? "yes" : "no"}}
                        </span>
                        <span style="display: flex; align-items: center; gap: 8px;">
                            <mat-icon>crisis_alert</mat-icon>
                            <p>Stolen:</p> {{boat.stolen == true ? "yes" : "no"}} <button *ngIf="boat.stolen"
                                mat-raised-button color="primary" (click)="onResolveBoat(boat)">Resolve</button>
                        </span>
                        <span style="display: flex; align-items: center; gap: 8px;">
                            <mat-icon>access_time</mat-icon>
                            <p>Last update:</p> {{boat.lastUpdate}}
                        </span>
                        <span style="display: flex; align-items: center; gap: 8px;">
                            <mat-icon>person</mat-icon>
                            <p>Owner:</p> {{boat.user.name}} {{boat.user.surname}}
                        </span>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Customers">
        <mat-grid-list cols="4" rowHeight="3:2">
            <mat-grid-tile *ngFor="let user of users">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <span style="display: flex; align-items: center; gap: 8px;">
                                <mat-icon>person</mat-icon> {{user.name}} {{user.surname}}
                            </span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <span style="display: flex; align-items: center; gap: 8px;">
                            <mat-icon>key</mat-icon>
                            <p>Role:</p> {{user.role == "ADMIN" ? "Administrator" : "User"}}
                        </span>
                        <span style="display: flex; align-items: center; gap: 8px;">
                            <mat-icon>mail</mat-icon>
                            <p>E-mail:</p> {{user.email}}
                        </span>
                        <span style="display: flex; align-items: center; gap: 8px;">
                            <mat-icon>call</mat-icon>
                            <p>Telephone:</p> {{user.phoneNumber}}
                        </span>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Detected stolen">
        <div fxLayout="column" style="margin-top: 15px;" fxLayoutGap="10" fxLayoutAlign="center center">
            <div fxLayout="row" *ngFor="let detectedStolen of detectedStolens">
                <mat-card>
                    <mat-card-subtitle>{{detectedStolen.boat.name}}</mat-card-subtitle>
                    <mat-card-content>
                        {{detectedStolen.time}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Trip">
        <div fxLayout="column" style="margin-top: 15px;" fxLayoutGap="10" fxLayoutAlign="center center">
            <div fxLayout="row" *ngFor="let trip of trips">
                <mat-card>
                    <mat-card-title>{{trip.boat.name}}</mat-card-title>
                    <mat-card-subtitle>{{trip.date}}</mat-card-subtitle>
                    <mat-card-content>
                        {{trip.boat.user.name}} {{trip.boat.user.surname}} - {{trip.boat.user.phoneNumber}}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>